
.globalHome{

    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        h1{
            font-size: 200px;
            font-family: "Vallen Gaye";
            color: #DF7373;
        }

        .blockSwitch{

            position: relative;
            margin: 10dvh 0;

            .arrowLoopHome{
                position: absolute;
                top: 65%;
                left: 110%;

                transform: rotate(30deg);

                width: 200px;
                image-orientation: revert;
            }

            p{
                position: absolute;
                top: 115%;
                left: 125%;

                width: 250px;
                text-align: center;
                font-size: 22px;
            }

        }

}