.backgroundPicture{
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}



.globalDayLocation{
    position: relative;
    height: 200dvh;

    .datasLocation{
        border-bottom: #000 solid 5px;

        h3{
            color: #000;
        }

        p{
            color: #000;
        }
    }


    .descriptionLocation{
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: #000 solid 1px;

        h1 h2 p{
            color: #000;
        }
    }
}




.globalNightLocation{
    position: relative;
    height: 200dvh;


    .datasLocation{
        border-bottom: #fff solid 5px;

        h3{
            color: #fff;
        }

        p{
            color: #fff;
        }
    }

    .descriptionLocation{
        background-color: rgba($color: #000, $alpha: 0.5);
        border: #fff solid 1px;

        h1, h2, p{
            color: #fff;
        }
    }


 
}




.datasLocation{
    position: absolute;
    top: 0;
    left: 0;
    height: 190px;
    width: 100dvw;

    backdrop-filter: blur(8px);

    display: flex;
    justify-content: space-between;
    align-items: center;


    h3{
        font-family: "Vallen Gaye";
        font-size: 90px;
        margin-right: 10dvw;
        font-weight: 400;
    }

    .scrollDatas{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-left: 10dvw;
        gap: 40px;


        img{
            width: 70px;
            transform: rotate(-90deg);
        }

        p{
            font-size: 22px;
            font-weight: 600;
        }
    }

}



.descriptionLocation{
    position: absolute;
    bottom: 5dvh;
    left: 5dvw;

    height: 90dvh;
    width: 90dvw;
    border-radius: 50px;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    text-align: center;


    h1{
        font-size: 120px;
        font-family: "Vallen Gaye";
        font-weight: 400;
    }

    h2{
        font-size: 50px;
    }

    p{
        margin-top: 100px;
        width: 80%;
    }

    div{
        position: relative;
        margin-top: 100px;

        .arrowLoopLocation{
            position: absolute;

            top: 40%;
            left: 110%;

            width: 100px;
            transform: rotate(15deg);
            
        }

        p{
            position: absolute;
            top: 35%;
            left: 110%;
        }
    }
}

@media (max-width : 1000px){
    

    
    .datasLocation{
    
    
        h3{
            font-size: 60px;
        }
    
        .scrollDatas{
    
            p{
                font-size: 16px;
            }
        }
    
    }
    
    
    
    .descriptionLocation{
    
        h1{
            font-size: 80px;
        }
    
        h2{
            font-size: 40px;
        }
    
        p{
            margin-top: 80px;
        }
    
        div{
            margin-top: 80px;

            .switchLogoLocation{
                width: 30dvw;
            }
    
            .arrowLoopLocation{
                position: absolute;
    
                top: 40%;
                left: 110%;
    
                width: 100px;
                transform: rotate(15deg);
                
            }
    
            p{
                position: absolute;
                top: 35%;
                left: 110%;
            }
        }
    }



}

@media (max-width : 700px){
    

    
    .datasLocation{
    
    
        h3{
            font-size: 40px;
        }
    
        .scrollDatas{

            gap: 30px;

            img{
                width: 40px;
            }
    
            p{
                font-size: 12px;
            }
        }
    
    }
    
    
    
    .descriptionLocation{
    
        h1{
            font-size: 35px;
        }
    
        h2{
            font-size: 25px;
        }
    
        p{
            font-size: 10px;
            margin-top: 30px;
        }
    
        div{
            margin-top: 70px;

            .switchLogoLocation{
                width: 30dvw;
            }
    
            .arrowLoopLocation{
                display: none;
                
            }
    
            p{
                position: absolute;
                top: -20%;
                left: 0;
                width: 30dvw;
                margin-top: 0;
            }
        }
    }



}